name: Job Scraper

on:
  workflow_dispatch:

jobs:
  run-scraper:
    runs-on: ubuntu-latest

    env:
      JOBSCRAPER_EMAIL_USERNAME: ${{ secrets.JOBSCRAPER_EMAIL_USERNAME }}
      JOBSCRAPER_EMAIL_PASSWORD: ${{ secrets.JOBSCRAPER_EMAIL_PASSWORD }}
      JOBSCRAPER_EMAIL_RECEIVER: ${{ secrets.JOBSCRAPER_EMAIL_RECEIVER }}
      JOBSCRAPER_SMTP_HOST: ${{ secrets.JOBSCRAPER_SMTP_HOST }}
      JOBSCRAPER_SMTP_PORT: ${{ secrets.JOBSCRAPER_SMTP_PORT }}
      JOBSCRAPER_GOOGLE_CRED_PATH: ${{ secrets.JOBSCRAPER_GOOGLE_CRED_PATH }}
      JOBSCRAPER_GSHEET_ID: ${{ secrets.JOBSCRAPER_GSHEET_ID }}

    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Install Playwright browsers
        run: |
          playwright install chromium

      - name: Run scraper
        run: |
          python main.py
